language: cpp
sudo: required
dist: bionic
git:
  depth: 1
env:
  global:
  - BUILD_CONFIG=Release
  - MSBUILD_PATH="/c/Program Files (x86)/Microsoft Visual Studio/2017/BuildTools/MSBuild/15.0/Bin"
  - DEPLOY_DIR=ocgcore
  - DEPLOY_BRANCH=travis-core-$TRAVIS_OS_NAME
matrix:
  include:
  - name: "Windows 10"
    os: windows
    env:
    - VCPKG_ROOT=/c/vcpkg
    - VCPKG_DEFAULT_TRIPLET=x86-windows-static
    - VCPKG_LIBS="lua[cpp]"
    - VCPKG_CACHE_ZIP_URL=https://github.com/kevinlul/edopro-vcpkg-cache/raw/master/vcpkg-windows.zip
  - name: "Bionic GCC7"
    os: linux
    compiler: gcc
    env: DEPLOY_BRANCH=travis-core-$TRAVIS_OS_NAME-gcc7
  - name: "Bionic LLVM7"
    os: linux
    compiler: clang
    env: DEPLOY_BRANCH=travis-core-$TRAVIS_OS_NAME-llvm7
  - name: "Mojave"
    os: osx
    osx_image: xcode10.3
    env: MACOSX_DEPLOYMENT_TARGET=10.11
install: ./travis/install-lua.sh
script: ./travis/build-cmake.sh
before_deploy: ./travis/predeploy.sh
deploy:
- provider: script
  skip_cleanup: true
  script: bash ./travis/deploy.sh
  on:
    repo: edo9300/ygopro-core
#- provider: releases
#  api_key: $OAUTH_TOKEN
#  overwrite: true
#  skip_cleanup: true
#  file:
#  - ocgcore-$TRAVIS_OS_NAME.zip
#  - ocgcore-$TRAVIS_OS_NAME.tar.gz
#  on:
#    tags: true
