name: Build EDOPro-core
on: [push, pull_request]
env:
  BUILD_CONFIG: Release
  DEPENDENCIES_BASE_URL: https://github.com/kevinlul/edopro-vcpkg-cache/releases/download/20210211
  DEPLOY_DIR: ocgcore
  DEPLOY_REPO: ${{ secrets.DEPLOY_REPO }}
  DEPLOY_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
jobs:
  Windows:
    runs-on: windows-2019
    env:
      DEPLOY_BRANCH: travis-core-windows
      TRAVIS_OS_NAME: windows
      VCPKG_ROOT: /c/vcpkg2
      VCPKG_DEFAULT_TRIPLET: x86-windows-static
    steps:
    - name: Set custom env vars
      shell: bash
      run: |
        echo "VCPKG_CACHE_ZIP_URL=$DEPENDENCIES_BASE_URL/installed_x86-windows-static.zip" >> $GITHUB_ENV
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Install lua
      shell: bash
      run: ./travis/install-lua.sh
    - name: Build
      shell: bash
      run: ./travis/build-cmake.sh
    - name: Predeploy
      shell: bash
      run: ./travis/predeploy.sh
    - name: Deploy
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
      shell: bash
      run: ./travis/deploy.sh
    - name: Log Failure
      uses: sarisia/actions-status-discord@v1
      if: failure()
      with:
        nodetail: true
        description: |
            [[${{ github.event.repository.name }}] ${{ github.job }} failed on ${{ github.ref }}](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}})
        title: |
                
        color: 0xff0000
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
        avatar_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
        username: Github

  Linux:
    runs-on: ubuntu-18.04
    env:
      DEPLOY_BRANCH: travis-core-linux-gcc7
      TRAVIS_OS_NAME: linux
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Install lua
      shell: bash
      run: ./travis/install-lua.sh
    - name: Build
      shell: bash
      run: ./travis/build-cmake.sh
    - name: Predeploy
      shell: bash
      run: ./travis/predeploy.sh
    - name: Deploy
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
      shell: bash
      run: ./travis/deploy.sh
    - name: Log Failure
      uses: sarisia/actions-status-discord@v1
      if: failure()
      with:
        nodetail: true
        description: |
            [[${{ github.event.repository.name }}] ${{ github.job }} failed on ${{ github.ref }}](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}})
        title: |
                
        color: 0xff0000
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
        avatar_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
        username: Github

  Android:
    runs-on: ubuntu-latest
    env:
      DEPLOY_BRANCH: travis-core-android
      TRAVIS_OS_NAME: android
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Install lua
      shell: bash
      run: |
        cd ..
        svn checkout https://github.com/edo9300/edopro-android/trunk/deps/lua
    - name: Build
      shell: bash
      run: |
        $ANDROID_HOME/ndk-bundle/ndk-build -j2
    - name: Predeploy
      shell: bash
      run: ./travis/predeploy.sh
    - name: Deploy
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
      shell: bash
      run: ./travis/deploy.sh
    - name: Log Failure
      uses: sarisia/actions-status-discord@v1
      if: failure()
      with:
        nodetail: true
        description: |
            [[${{ github.event.repository.name }}] ${{ github.job }} failed on ${{ github.ref }}](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}})
        title: |
                
        color: 0xff0000
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
        avatar_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
        username: Github

  Mac-os:
    runs-on: macos-10.15
    env:
      DEPLOY_BRANCH: travis-core-osx
      TRAVIS_OS_NAME: osx
      VCPKG_ROOT: ./vcpkg2
      DEVELOPER_DIR: /Applications/Xcode_10.3.app/Contents/Developer
      MACOSX_DEPLOYMENT_TARGET: 10.11
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Replace not compatible Xcode Command Line Tools
      shell: bash
      run: |
        sudo rm -rf /Library/Developer/CommandLineTools
        xcode-select --install
    - name: Install lua
      shell: bash
      run: ./travis/install-lua.sh
    - name: Build
      shell: bash
      run: ./travis/build-cmake.sh
    - name: Predeploy
      shell: bash
      run: ./travis/predeploy.sh
    - name: Deploy
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
      shell: bash
      run: ./travis/deploy.sh
    - uses: actions/upload-artifact@v2
      with:
        name: osx
        path: ocgcore/libocgcore.dylib
    - name: Log Failure
      uses: sarisia/actions-status-discord@v1
      if: failure()
      with:
        nodetail: true
        description: |
            [[${{ github.event.repository.name }}] ${{ github.job }} failed on ${{ github.ref }}](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}})
        title: |
                
        color: 0xff0000
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
        avatar_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
        username: Github

  Mac-os-aarch64:
    runs-on: macos-latest
    env:
      DEPLOY_BRANCH: travis-core-osx-aarch64
      TRAVIS_OS_NAME: osx
      VCPKG_ROOT: ./vcpkg2
      MACOSX_DEPLOYMENT_TARGET: 11.0
      CXXFLAGS: -target arm64-apple-macos11
      CFLAGS: -target arm64-apple-macos11
      LDFLAGS: -target arm64-apple-macos11
      SDKROOT: /Applications/Xcode_12.4.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX11.1.sdk
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Install lua
      shell: bash
      run: ./travis/install-lua.sh
    - name: Build
      shell: bash
      run: ./travis/build-cmake.sh
    - name: Predeploy
      shell: bash
      run: ./travis/predeploy.sh
    - name: Deploy
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
      shell: bash
      run: ./travis/deploy.sh
    - uses: actions/upload-artifact@v2
      with:
        name: osx-aarch64
        path: ocgcore/libocgcore.dylib
    - name: Log Failure
      uses: sarisia/actions-status-discord@v1
      if: failure()
      with:
        nodetail: true
        description: |
            [[${{ github.event.repository.name }}] ${{ github.job }} failed on ${{ github.ref }}](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}})
        title: |
                
        color: 0xff0000
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
        avatar_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
        username: Github

  Mac-os-universal:
    runs-on: macos-latest
    env:
      DEPLOY_BRANCH: travis-core-osx-universal
    needs: [ Mac-os, Mac-os-aarch64 ]
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
        submodules: true
    - name: Download osx artifacts
      uses: actions/download-artifact@v2
    - name: Merge binaries
      shell: bash
      run: |
        lipo -create -output libocgcore.dylib ./osx-aarch64/libocgcore.dylib ./osx/libocgcore.dylib
    - name: Move merged binary
      shell: bash
      run: |
        mkdir -p $DEPLOY_DIR && cp LICENSE README.md $DEPLOY_DIR && mv libocgcore.dylib $DEPLOY_DIR
    - name: Deploy
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
      shell: bash
      run: ./travis/deploy.sh
    - name: Delete artifacts
      uses: geekyeggo/delete-artifact@v1
      with:
        name: |
            osx-aarch64
            osx
    - name: Log Failure
      uses: sarisia/actions-status-discord@v1
      if: failure()
      with:
        nodetail: true
        description: |
            [[${{ github.event.repository.name }}] ${{ github.job }} failed on ${{ github.ref }}](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}})
        title: |
                
        color: 0xff0000
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
        avatar_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
        username: Github

  Notify-success:
    runs-on: ubuntu-latest
    env:
      DEPLOY_BRANCH: travis-osx-universal
      TRAVIS_OS_NAME: osx
    needs: [ Windows, Linux, Android, Mac-os-universal ]
    steps:
    - name: Log Success
      uses: sarisia/actions-status-discord@v1
      with:
        nodetail: true
        description: |
            [[${{ github.event.repository.name }}] Build EDOPro-core success on ${{ github.ref }}](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}})
        title: |
                
        color: 0x0f9826
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
        avatar_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
        username: Github